<div class="jumbotron">
<h1>Acerca de </h1> 
<p>Esta es una aplicacion web desarrollada para apollar a personas que sufran de acoso por
medio de la proporcion de una plataforma anonima. Generada para la UACJ</p>

<%= image_tag("/images/play-outside.jpg", :alt => "ninios-jugando", height: 649, width: 975) %>
</div>
